@media (max-width: 768px) {
    .burger {
        display: flex;
        position: absolute;
        right: 20px;
        top: 155px;
    }

    .nav {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        animation: burgerAnim 0.4s;
    }

    .nav ul {
        flex-direction: column;
        gap: 5px;
    }

    .nav li {
        font-size: 18px;
        padding: 0;
    }

    @keyframes burgerAnim {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .product__image img {
        margin: 50px;    
        height: 400px;
    }
}

@media (max-width: 426px) {
    header p {
        font-size: 28px;
        line-height: 30px;
    }

    .product {
        background: none;
    }

    .product__image img {
        width: 95%;  
        margin: 7px;
    }
    .product__description {
        max-width: 285px;
        word-wrap: break-word;
    }
}

@media (max-width: 426px) {
    .nav {
        top: 10px;
    }
}